OS_MAPS_API_KEY=
OS_MAPS_LAYER=Light_3857
POSTCODE_PREFIXES=W8,SW7,SW5,SW3

CONTACT_TO_EMAIL=aderk001@campus.goldsmiths.ac.uk
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@example.com
SMTP_USE_TLS=true
